.header {
    display: flex;
    flex-direction: row;
}

.features {
    display: flex;
    flex-direction: row;
}


@media (max-width: 992px) {
  .features {
    flex-direction: column;
  }
}


.featuresListSection {
    /* Style for the entire section */
    display: flex;
    flex-direction: column;
    background: var(--primary-background-color);
  }
  
  .header {
    text-align: left;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 992px) {
    .header {
      flex-direction: column;
    }
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: var(--secondary-text-color); /* Adjust to match your design */
    margin-bottom: 2rem;
  }
  
  .titlesContainer {
    padding: 1rem;
    flex: 1;
  }

  .coverImageContainer {
    text-align: right;
    margin-bottom: 2rem;
    flex: 1;
  }
  
  .coverImage {
    max-width: 100%;
    min-height: 360px;
    height: auto;
    border-radius: 16px;
  }
  
  .feature {
    margin: 1rem;
    /* More styles for the feature */
  }
  
  .featureTitle {
    font-size: 1.2rem !important;
  }
  
  .featureDescription {
    font-size: 0.9rem !important;
    color: var(--secondary-text-color); /* Adjust to match your design */
  }
  
  /* Add media queries and other styles as needed */
  