.InputStyling {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  color: rgb(60, 66, 87);
  text-decoration: none;
  border-radius: 4px;
  border: 0px;
  padding: 5px 20px;
  min-width: 250px;
  display: inline-block;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
}

.ButtonStyling {
  position: relative;
  top: 6px;
  left: 4px;
}
