.rich-editor-wrapper {
  vertical-align: top;
  font-family: 'Georgia', serif;
  font-size: 14px;
  width: 70%;
  min-width: 290px;
  margin-left: 20px;
  display: inline-block;

  background: #fff;
  color: #66615b;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
}

.text-wrapper {
  display: inline-block;
  padding: 2px 10px;
  min-width: 250px;
  width: 94%;
  margin: 5px;
  min-height: 150px;
}

.hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.text-wrapper .myBlockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.text-wrapper .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.options-wrapper {
  border-bottom: 2px solid #ddd;
  background-color: #aaa;
  padding: 0px 10px;
}

.block-style-options {
  display: inline-block;
}

.custom-style-options {
  display: inline-block;
}
.inline-style-options {
  display: block;
}

.media-input {
  padding: 2px 10px;
  margin: 5px;
  outline: none;

  background: #fff;
  color: #66615b;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
}
/* React considers .btn first and then .btn-sm? */
.btn-sm {
  font-size: 0.8571em !important;
  border-radius: 3px !important;
  padding: 5px 15px !important;
}
.gray {
  background-color: #808080 !important;
}
.active {
  background-color: #606060 !important;
}
.no-margin {
  margin: 4px 2px !important;
}
.public-DraftEditorPlaceholder-root {
  color: gray;
  position: absolute;
  z-index: 0;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: gainsboro;
}
.audio-block-style {
  max-width: 100%;
}
.image-block-style {
  max-width: 100%;
}
.video-block-style {
  max-width: 100%;
}
/* firgure wraps all custom renderers */
figure {
  margin: 10px 5px;
}
