.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgba(105, 105, 105, 0.1);
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}

.currentPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}