.title {
  font-size: 48px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: var(--primary-text-color);
  margin-top: 4rem;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  margin-top: 2rem;
  text-align: center;
  color: var(--secondary-text-color)
}

.contactCard {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background-color: #fff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0;
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding: 10px 60px;
  margin: 3rem auto;
  display: table !important;
  width: 60%;
  max-width: 800px;
}

.FormFieldContainer {
  margin: 16px 0px;
}

.FormTextField {
  font-size: 16px;
  line-height: 30px;
  height: 50px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  color: rgb(60, 66, 87);
  text-decoration: none;
  border-radius: 4px;
  border: 0px;
  padding: 5px 20px;
  min-width: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
  width: 100%;
}

.FormTextareaField {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  color: rgb(60, 66, 87);
  text-decoration: none;
  border-radius: 4px;
  border: 0px;
  padding: 5px 20px;
  min-width: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
  width: 100%;
  min-height: 14rem;
}

.PrimaryButton {
  margin: 20px auto;
  display: table !important;
  padding: 12px 10px;
  width: 100%;
  background-color: #6546d7;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.FormLabel {
  margin: 8px 1px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(60, 66, 87);
  padding: 10px 5px 0 0px;
  line-height: 1.5;
  display: block;
}

.formLabelSubtitle {
  margin-top: -4px;
  font-size: 12px;
}

.FormCheckboxLabel {
  font-weight: 600;
  font-size: 14px;
  color: rgb(60, 66, 87);
  line-height: 1.5;
}

.checkboxField {
  margin-right: 8px;
}

.ErrorMessage {
  color: #f2505b;
  margin-top: 5px;
  font-size: 12px;
}

.successMessage {
  background-color: rgba(53, 222, 62, 0.3);
  padding: 16px 32px;
  display: table;
  margin: 0px auto;
  margin-top: 3rem;
  border-radius: 8px;
  font-weight: 800;
  text-align: center;
  min-width: 40%;
  max-width: 50%;
}
