.DismissButton {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #dddddd;
  opacity: 0.9;
  padding: 3px;
}

.DismissIcon {
  margin: auto;
  width: 100%;
  height: 100%;
}
